HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Ignore local config (jika ingin aman)
/src/main/resources/application.properties